
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

 h2{
     font-family: "Candara Light", serif;
     color: cornflowerblue;
 }
.choice-container{
    display: flex;
    justify-content: space-between;
}
