
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h2{
    font-family: "Candara Light", serif;
}
.choice-container{
    display: flex;
    justify-content: space-between;
}

header {
    background-color: aquamarine;
}
table{border: 2px solid black;}
h3{
    color: blue;
}
.btn{
    text-align: center;
}