
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.hart {
    color: #ff1744;
}
h2{
    font-family: "Candara Light", serif;
}
.choice-container{
    display: flex;
    justify-content: space-between;
}

header {
    background-color: aquamarine;
    text-align: center;
    height: 60px;
    padding: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
}



h3 {
    color: #555;
    font-size: 22px;
    margin-bottom: 10px;
}

p {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}


*{
    margin: auto;
}
input[type="submit"]{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{ background-color: #0056b3;

}
input[type="submit"]:active{
    background-color: #003e80;
}input[type="submit"]:focus{ outline: none;
     box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);

 }
table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #f1f1f1;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}




span {
    font-weight: bold;
    color: #333;
}


span.chosen-box:hover {
    background-color: #f2f2f2;
}
a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;

}

a:hover {
    background-color: #0056b3;
}
a{
    text-align: center;
}