
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
    <link rel="stylesheet" href="../static/CSS/footer.css" th:href="@{/CSS/footer.css}">
    <title>Start Game</title>
</head>
<body>
<header >
    <h2>Start Game</h2>
</header>
<br>
<br>
<form action="/result" method="get" >
    <div class="choice">
        <div >
            <label><input type="radio" name="chosenBox" th:value="1" checked>Box 1</label><br/>
            <img class="choice" src="../static/IMG/1.jpeg" th:src="@{../static/IMG/1.jpeg}" alt="Box">
        </div>
        <div>
            <label><input type="radio" name="chosenBox" th:value="2" >Box 2</label><br/>
            <img class="choice" src="../static/IMG/1.jpeg" th:src="@{../static/IMG/1.jpeg}" alt="Box">
        </div>
        <div>
            <label><input type="radio" name="chosenBox" th:value="3">Box 3</label><br/>
            <img class="choice" src="../static/IMG/1.jpeg" th:src="@{../static/IMG/1.jpeg}" alt="Box">
        </div>
    </div>

    <p>
    <div style="text-align:center">
    <input  type="submit" value="Play">
</div>
    <br>
    <br>
    </p>
</form>
</main>
<footer >

   <h2>Simranjeet Singh (Student Id: 991678806)&nbsp;&nbsp;<span class='hart'>&#9825;</span>&nbsp;&nbsp;</h2>
</footer>
</body>
</html>


</body>
</html>